extends ../layout

block content
    .form-container
        h1 Become an
            span.tertiary-color  Admin

        .intro-text
            span Enter the correct passcode to gain
                span.tertiary-color  admin
                |  status

            span This time there are
                a(href="" class="tertiary-color")  no
                span  hints

        form(action="" method="POST")
            if errors
                ul
                    for error in errors
                        li(class="error")= error.msg
            label(for="passcode") Passcode
            input(name="passcode" type="password")
            button(type="submit" class="tertiary-bg-color") Submit
