extends ../layout

block content
    h1= title
    if errors
        ul
            for error in errors
                li(class="error")= error.msg

    form(action="" method="POST")
        label(for="passcode") Passcode
        input(name="passcode" type="password")
        button(type="submit") Submit
