extends ../layout

block content
    .form-container
        h1= title

        form(action="/log-in" method="POST")
            if errors
                ul
                    for error in errors
                        li(class="error")= error.msg
            if errorMessage
                ul
                    li(class="error")= errorMessage
            label(for="username") Username
            input(name="username" placeholder="Username" value=(undefined===user ? '' : user.username) type="text")
            label(for="password") Password
            input(name="password" placeholder="Password" type="password")
            button(type="submit" class="primary-bg-color") Log In

            a(href="/sign-up")
                button(type="button" class="primary-bg-color") Sign Up