extends ../layout

block content
    .form-container
        h1= title

        form(action="" method="POST")
            if errors
                ul
                    for error in errors
                        li(class="error")= error.msg
            label(for="title") Title
            input(name="title" placeholder="Title" type="text")
            label(for="message") Message
            textarea(name="message" cols="30" rows="10" placeholder="Your Message Here...")

            button(type="submit") Submit
