header
    h1
        a(href="/")
            span.tertiary-color  Incognito
            |  Lounge
    nav
        ul
            if currentUser
                li
                    a(href="/new-message") NEW
                        span.secondary-color  MESSAGE
                if currentUser.membership_status === "user"
                    li
                        a(href="/become-member") BECOME A
                            span.primary-color  MEMBER
                if currentUser.membership_status !== "admin"
                    li
                        a(href="/become-admin")
                            span.tertiary-color  ADMIN
                            |  MODE
                li
                    a(href="/log-out") LOG OUT
            else
                li
                    a(href="/log-in") LOG IN
                li
                    a(href="/sign-up") SIGN UP